.title {
    padding: 10px 15px;
    text-align: center;
}

#timetable { table-layout: fixed; }
#timetable > tbody > tr > td { 
    width: 18%; 
    font-size: 0.8em
}

#courseBlock {
    background-color:lightgray;
    cursor: pointer
}

#courseBlock.course-locked {
    background-color:lightgreen
}

.pagination > .active {
    flex: 1 1 auto;
    background-color: white
}

.pagination > .active > .page-link {
    color: #495057;
    background-color: transparent;
    border-color: #dee2e6;
    cursor: default;
    text-align: center
}