.title {
    padding: 10px 15px;
    text-align: center;
}

#timetable > tbody > tr > td { 
    width: 18%; 
    min-width: 80px;
    font-size: 0.8em;
}

#courseBlock {
    cursor: pointer;
    color: #495057;
    background-color: #e9ecef;
}

#courseBlock.course-locked {
    color: white;
    background-color: #28a745;
}

.pagination > .active {
    flex: 1 1 auto;
    background-color: white;
}

.pagination > .active > .page-link {
    color: #495057;
    background-color: transparent;
    border-color: #dee2e6;
    cursor: default;
    text-align: center;
}

body {
    min-width: 320px;
}