.title {
    padding: 10px 15px;
    text-align: center;
}

#timetable { table-layout: fixed; }
#timetable > tbody > tr > td { 
    width: 18%; 
    font-size: 0.8em
}

/* #timetable > tbody > tr, #timetable > thead > tr {
    line-height: 18px;
    min-height: 18px;
    height: 18px;
 } */